.u-section-1 .u-sheet-1 {
  min-height: 785px;
}

.u-section-1 .u-image-1 {
  height: 613px;
  width: 1140px;
  margin: -131px auto 0 -13px;
}

.u-section-1 .u-text-1 {
  margin: -504px 55px 60px 766px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-image-1 {
    height: 505px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -396px;
    margin-right: 0;
    margin-left: 621px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-image-1 {
    height: 387px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -278px;
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-image-1 {
    height: 290px;
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -181px;
    margin-left: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -74px;
    margin-left: 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2464px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 48px 750px 0 95px;
}

.u-section-2 .u-image-1 {
  width: 273px;
  height: 273px;
  margin: 14px 277px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -245px 662px 0 23px;
}

.u-section-2 .u-text-3 {
  margin: 104px 78px 0 785px;
}

.u-section-2 .u-image-2 {
  width: 298px;
  height: 298px;
  margin: 4px auto 0 101px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -247px 53px 0 490px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 135px 735px 0 54px;
}

.u-section-2 .u-image-3 {
  width: 466px;
  height: 327px;
  margin: -35px 84px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: -238px 634px 0 54px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 115px 213px 0 747px;
}

.u-section-2 .u-image-4 {
  width: 506px;
  height: 329px;
  margin: 14px auto 0 23px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: -295px 33px 0 613px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 59px 758px 0 169px;
}

.u-section-2 .u-image-5 {
  width: 497px;
  height: 233px;
  margin: 84px 45px 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: -215px 595px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2463px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 745px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 333px;
    margin-right: 368px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -573px;
    margin-right: 586px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 414px;
    margin-right: 100px;
    margin-left: 763px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 170px;
    margin-left: 238px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -414px;
    margin-right: 100px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 402px;
    margin-right: 689px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 184px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 588px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -175px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -121px;
    margin-right: 100px;
    margin-left: 166px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 783px;
    margin-left: 144px;
  }

  .u-section-2 .u-image-5 {
    width: 570px;
    height: 285px;
    margin-top: 141px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -372px;
    margin-right: 551px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 635px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 389px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 476px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 210px;
    margin-left: 653px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 218px;
    margin-left: 348px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -462px;
    margin-right: 210px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 579px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 294px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 478px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -119px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -97px;
    margin-right: 210px;
    margin-left: 276px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 717px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 1289px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -1520px;
    margin-right: 441px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 545px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 386px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 300px;
    margin-left: 563px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 266px;
    margin-right: 404px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -510px;
    margin-right: 300px;
    margin-left: 323px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 489px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-3 {
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 388px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 300px;
    margin-left: 660px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 14px;
    margin-right: 311px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: -295px;
    margin-right: 300px;
    margin-left: 366px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 627px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 6297px;
    margin-right: 43px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -6528px;
    margin-right: 351px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2194px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 445px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 361px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -601px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 400px;
    margin-left: 463px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 379px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -623px;
    margin-right: 400px;
    margin-left: 423px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 395px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 239px;
    margin-top: 88px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -263px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 400px;
    margin-left: 560px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 221px;
    margin-top: 217px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -296px;
    margin-right: 400px;
    margin-left: 466px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 527px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 170px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-10 {
    margin: -6413px 400px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1184px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 57px auto 0 118px;
}

.u-section-3 .u-image-1 {
  width: 447px;
  height: 234px;
  margin: 26px 43px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -202px 533px 0 43px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 125px 680px 0 111px;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 285px;
  margin: 76px 33px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -285px 669px 60px 54px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 55px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 376px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 580px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 523px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 371px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 191px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 270px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -270px;
    margin-right: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 74px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 178px;
    margin-top: 223px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -314px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 170px;
    margin-top: 42px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -169px;
    margin-right: 0;
    margin-bottom: 0;
  }
}